aiohttp==3.8.3
aiosignal==1.3.1
aniso8601==9.0.1
antiorm==1.2.1
asgiref==3.4.1
async-timeout==4.0.2
attrs==22.2.0
certifi==2022.12.7
charset-normalizer==2.1.1
clickhouse-driver==0.2.5
clickhouse-pool==0.5.3
db==0.1.1
db-sqlite3==0.0.1
decorator==5.1.0
Django==4.0
django-clickhouse-backend==1.0.2
django-cors-headers==3.10.1
django-filter==23.2
django-introspection==0.9.0
django-vite==2.1.3
django-vitevue==0.8.0
docopt==0.6.2
frozenlist==1.3.3
geoip2==4.6.0
graphene==3.2.2
graphql-core==3.2.3
graphql-relay==3.2.0
idna==3.4
infi.clickhouse-orm==2.1.3
iso8601==2.0.0
kazoo==2.8.0
maxminddb==2.2.0
multidict==6.0.4
mysqlclient==2.1.0
networkx==2.6.3
pipreqs==0.4.13
protobuf==3.6.1
PyMySQL==1.0.2
python-crontab==2.6.0
python-dateutil==2.8.2
python-sql==1.4.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.13
yarg==0.1.9
yarl==1.8.2
